@import '/src/constants';


.searchBar{
  height: 41px;
  border: 1px solid #040404;
  border-radius: 3px;
  display: flex;
  flex: 0 1 377px;
  margin-right: 10px;
  position: relative;
  @media (max-width: 650px) {
    flex: 1 0 auto;
    margin-top: 10px;
    width: 100%;
    margin-right: 0;
  }
  &Input{
    height: 100%;
    background-color: transparent;
    border-radius: 3px;
    padding: 0 15px 0 40px;
    width: 100%;
  }
  &Button{
    position: absolute;
    top: 0;
    left: 0;
    height: 39px;
    width: 40px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &Image{
    //border: 1px solid red;
  }
}