@import "src/constants.scss";

.body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fefefe;
}

.bodyContainer {
  max-width: $containerWidth;
  padding: 0 15px;
  margin: 0 auto;
}

.bodyCategory {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 114px;
  padding-top: 30px;
  margin-bottom: 20px;
  max-width: 1525px;
}

.secondRowMenu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bodyNavigateTitle {
  font-size: 24px;
  font-weight: 700;
}

.contentContainer {
  max-width: $containerWidth;
  display: flex;
  column-gap: 30px;
  justify-content: space-between;
  margin: 0 auto 30px;
  @media(max-width: 1215px){
    flex-direction: column;
  }
}

.contentContainerList{
  flex: 1 1 auto;
  position: relative;
  min-height: 200px;
}

.contentItemsList{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1185px;
  gap: 30px;
  @media (max-width: 1619.5px){
    justify-content: space-around;
  }
  @media (max-width: 810px){
    justify-content: center;
  }
}

.lostSearching{
  position: absolute;
  left: 40%;
  top: 40%;
  @media (max-width: 810px){
    left: 35%;
  }
}

.contentFilter {
  flex: 0 0 auto;
  height: 100%;
  margin-bottom: 20px;
}

//-------------------Filter----------------------------

.contentFilter{
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: #fefefe;
  @media (max-width: 1215px) {
    //display: none;
  }
}

.contentFilterTitle{
  min-height: 70px;
  width: 100%;
  padding: 5px 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: $mainDarkColor;
  color: white;
  font-size: 20px;
  font-weight: 700;
}