@import "src/constants.scss";

.body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fefefe;
}

.bodyContainer {
  max-width: $containerWidth;
  padding: 0 15px;
  margin: 0 auto;
}

.bodyCategory {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 114px;
  padding-top: 30px;
  margin-bottom: 20px;
  max-width: 1525px;
}

.secondRowMenu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bodyNavigateTitle {
  font-size: 24px;
  font-weight: 700;
}

.contentContainer {
  max-width: $containerWidth;
  display: flex;
  column-gap: 30px;
  justify-content: space-between;
  margin: 0 auto 30px;
  @media(max-width: 1215px){
    flex-direction: column;
  }
}

.contentContainerList{
  flex: 1 1 auto;
  position: relative;
  min-height: 200px;
}

.contentItemsList{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1185px;
  gap: 30px;
  @media (max-width: 1619.5px){
    justify-content: space-around;
  }
  @media (max-width: 810px){
    justify-content: center;
  }
}

.lostSearching{
  position: absolute;
  left: 40%;
  top: 40%;
  @media (max-width: 810px){
    left: 35%;
  }
}

.contentFilter {
  flex: 0 0 auto;
  height: 100%;
  margin-bottom: 20px;
}

.contentItem {
  width: 375px;
  height: 600px;
  background-color: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 10px;
  //margin-right: auto;
  @media (max-width: 1215px){
    margin-right: 0;
  }
  &:after {
    content: '';
    position: absolute;
    width: 89%;
    height: 1px;
    background-color: rgba(20, 20, 20, 0.5);
    bottom: 159px;
    right: 5.6%;
  }
}

.contentItemPreviewImage {
  margin-bottom: 10px;
}

.contentItemTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.7;
  color: #141414;
  padding: 0 19px;
}

.contentItemProperty {
  display: flex;
  justify-content: space-between;
  color: rgba(20, 20, 20, 0.5);
  padding: 0 19px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 10px;
}

.contentItemRatingStarList {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 11px;
  row-gap: 5px;
}

.contentItemRating {
  display: flex;
  padding: 0 19px;
  justify-content: space-between;
  margin-bottom: 55px;
}

.contentItemReviews {
  color: rgba(20, 20, 20, 0.5);
  font-weight: 500;
  font-size: 16px;
  line-height: 2.125;
}

.contentItemUserOptions{
  display: flex;
  padding: 0 19px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;
}

.contentItemPrice{
  font-size: 20px;
  line-height: 1.7;
  font-weight: 600;
  color: #141414;
}
.contentItemCompare,
.contentItemFavorite {
  background-color: transparent;
}





.contentItemUserOptionsContainer {
  display: flex;
  margin-left: 15px;
  column-gap: 15px;
}
//-------------------Filter----------------------------

.contentFilter{
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: #fefefe;
  @media (max-width: 1215px) {
    //display: none;
  }
}

.contentFilterTitle{
  min-height: 70px;
  width: 100%;
  padding: 5px 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: $mainDarkColor;
  color: white;
  font-size: 20px;
  font-weight: 700;
}
.filterSliderButton{
  background-color: transparent;
}

.filterPriceInputLeft{
  border-right: 1px solid #CBCBCB;
}



.filterSteel{
  display: flex;
  flex-direction: column;
}

.filterSteelTitleContainer{
  background-color: $mainDarkColor;
  width: 100%;
  min-height: 50px;
  padding: 5px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:hover{
    cursor: pointer;
  }
}

.filterSteelTitle{
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.filterSteelSpoilerPart{
  padding: 0 30px;
  overflow: hidden;

}

.filterSteelList{
  display: flex;
  flex-direction: column;
  row-gap: 22px;
  transition: all 1s ease 0s;
  margin: 21px 0;
}

.filterSteelListHidden {
  margin-top: 0;
  margin-bottom: -100%;
}

.filterSteelCheckbox{
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.filterSteelCheckbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  &:hover{
    cursor: pointer;
  }
  &:before{
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0, 0.2);
    margin-right: 15px;
    box-sizing: border-box;
  }
}

.filterSteelCheckbox:checked+label:before {
  border: 1px solid $mainOrangeColor;
  background: url('../../img/icons/checked.svg') no-repeat center;
  background-size: 67% 67%;
}

.filterSteelCheckbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: $mainOrangeColor;
}

.filterSteelCheckbox:not(:disabled):active+label::before {
  background-color: $mainOrangeColor;
  border-color: $mainOrangeColor;
}

//-----------------------------------------------------