.itemPreview{
  max-width: 100%;
}

.previewMain{
  max-width: 100%;
  margin-bottom: 16px;
}
.previewList{
  display: flex;
  max-width: 754px;
  gap: 16px;
}
.previewListItem{
  max-width: 100%;
  border-radius: 2px;
}