@import "src/constants.scss";

.Header {
  font-family: 'Montserrat', sans-serif;
}

.topHeaderMenu {
  background-color: $mainDarkColor;
}

.visuallyHidden{
  display: none;
}

.topHeaderMenuContainer {
  max-width: $containerWidth;
  padding: 10px 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  @media (max-width: 650px) {
    justify-content: space-between;
    padding: 10px 25px;
  }
}

.navBar{
  margin: 0 15px 0 5px;
  @media (max-width: 650px) {
    display: none;
  }
}

.navBarItemLink{
  color: white;
  &:hover{
    text-decoration: underline;
  }
  &:active{
    background-color: transparent;
  }
}

.navBarList {
  @media (max-width: 650px) {
    display: none;
  }
  color: white;
  display: flex;
  @include adaptive-value("column-gap", 60, 20, 1);
  row-gap: 5px;
  flex-wrap: wrap;
}

.userLink {
  color: white;
  @media(max-width: 830px){
    display: none;
  }
}

.userLinkBlock {
  display: inline-flex;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}

.userLink {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 0 14px;
}
.navBarItem{
text-align: center;

}

.userImage {
  vertical-align: center;
  margin-top: 4px;
}
//------------MidHeaderMenu--------------------------





.searchBar{
  height: 41px;
  border: 1px solid #040404;
  border-radius: 3px;
  display: flex;
  flex: 0 1 377px;
  margin-right: 10px;
  position: relative;
  @media (max-width: 650px) {
    flex: 1 0 auto;
    margin-top: 10px;
    width: 100%;
    margin-right: 0;
  }
  &Input{
    height: 100%;
    background-color: transparent;
    border-radius: 3px;
    padding: 0 0 0 40px;
  }
  &Button{
    position: absolute;
    top: 0;
    left: 0;
    height: 39px;
    width: 40px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &Image{
    //border: 1px solid red;
  }
}

.userMenuPhoneTop{
  display: flex;
  align-items: center;
}

.userMenuFavoriteTop{
  display: flex;
}

.userMenuCartTop,
.userMenuFavoriteTop,
.userMenuPhoneTop {
  @media (min-width: 650px){
    display: none;
  }
}

.userMenuCartTop{
  position: relative;
}

//----------NavBarBottom--------------------------

.bottomHeaderMenu {
  @media(max-width: 650px){
    display: none;
  }
  background-color: $mainDarkColor;
  color: white;
  display: flex;
  &Container{
    max-width: $containerWidth;
    margin: 0 auto;
    padding: 0px 15px;
    min-height: 100%;
    flex: 1 1 auto;
    display: flex;
  }
}

.navBarBottomList {
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 100%;
}

.navBarBottomItem {
  padding: 0 5px;
  position: relative;
  min-height: 70px;
  display: flex;
  align-items: center;
  &::after {
    content: '';
    position: absolute;
    width: calc(100% - 10px);
    height: 2px;
    background-color: $mainOrangeColor;
    bottom: 1px;
    left: 5px;
    transform: scaleX(0);
    transition: all 0.2s ease 0s;
  }
  &:hover{
    cursor: pointer;
    &::after {
      content: '';
      transform: scaleX(1);
    }
  }
}

.navBarBottomItemLink{
  color: white;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}

.activeLink{
  color: $mainOrangeColor;
}

//---------------Burger----------------

.burgerMenuButton{
  @media (min-width: 650px) {
    display: none;
  }
  position: relative;
  width: 40px;
  height: 30px;
}
.burgerMenuButton:before,
.burgerMenuButton:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 10%;
  background-color: white;
  z-index: 10;
  transition: all 0.2s ease 0.2s;
  transform-origin: left;
}

.burgerMenuButton span{
  transition: all 0.2s ease 0.2s;
}

.burgerMenuButtonClose:before {
  transform: rotate(45deg);
}

.burgerMenuButtonClose:after {
  transform: rotate(-45deg);
}
.burgerMenuButtonClose span {
  opacity: 0;
}

.burgerMenuButton:after{
  bottom: 0;
}

.burgerMenuButtonSpan{
  width: 100%;
  height: 10%;
  background-color: white;
  position: absolute;
  top: 45%;
  z-index: 10;
}

.burgerMenu {
  position: fixed;
  width: 100vw;
  height: 200vw;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease 0s;
}

.burgerMenuActive{
  opacity: 1;
  pointer-events: all;
}

.burgerMenuBackground{
  position: fixed;
  width: 100vw;
  height: 200vw;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.5);
  z-index: 4;
}



.burgerMenuContainer {
  background-color: $mainDarkColor;
  position: fixed;
  top: 0;
  left: 20%;
  height: 100%;
  width: 100%;
  padding: 70px 0 0 30px;
  overflow: auto;
  z-index: 10;
  transition: all 1s ease 0s;
  &Hidden{
    margin-left: 100%;
  }
  :before {
    content: '';
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: $mainDarkColor;
    top: 0;
    left: 20%;
    z-index: 9;
    transition: all 1s ease 0s;
  }
}


.burgerMenuList {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  row-gap: 40px;
  width: 77%;
}
.burgerMenuLink{
  color: white;
}

.burgerMenuItemStuff{
  display: flex;
  justify-content: space-between;
}
.burgerMenuItemStuffArrow {
  transform: rotate(-90deg);
  color: white;
  align-self: center;
  margin-right: 20px;
}

.burgerMenuButtonBack {
  position: absolute;
  font-size: 24px;
  color: white;
  left: 20%;
  z-index: 10;
  margin-left: 30px;
  display: flex;
  align-items: center;
  top: 3%;
}
.burgerMenuButtonSpanBackArrow{
  margin-right: 20px;
}

